:root {
  --padding: 8%;
}

body {
  background-color: #171a1c;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 100px;
}

/* Navbar Styles */
.navbar {
  padding-top: 2.8rem;
  background-color: #171a1c;
  height: 100px;
  font-size: 1.3rem;
  border-radius: 16px;
  padding-right: var(--padding);
  padding-left: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  transition: 0.4s;
}

.navbar-brand {
  font-weight: 700;
  color: #ffffff;
  font-size: 2.3rem;
  transition: 0.3s color;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
  margin-left: 5px;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-item {
  margin: 0.8rem 0.4rem;
}

.nav-link {
  color: #ffffff;
  font-size: 1.3rem;
  margin: 0.8rem 1.5rem;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: rgb(51, 175, 51);
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: rgb(51, 175, 51);
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
}

/* Offcanvas Navbar */
#offcanvasNavbar {
  background-color: #22282a;
}

/* Button Styles */
.btn {
  background-color: rgb(51, 175, 51);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.67rem 1.85rem;
  border-radius: 30px;
  margin-right: 115px;
  border: 2px solid transparent;
  transition: 0.4s;
}

.btn:hover {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid rgb(51, 175, 51);
}

/* Hero Section */
.hero-section {
  background-color: #171a1c;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.hero-section .container-images {
  width: 45%;
  height: 90%;
  position: relative;
  align-self: flex-end;
  margin-top: 0;
}

.hero-section .container-images img {
  position: absolute;
  bottom: -50%;
  height: 150%;
  left: 200%;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s, transform 1s;
}

.hero-section .container-images:hover .shape {
  left: 170%;
  transform: translateX(-47%);
  transition: left 0.5s ease, transform 0.5s ease;
}

.hero-section .container-images:hover .ProfilePicture {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.decription{
  margin-left: 1%;
}
/* New Section */
.new-section {
  margin-top: 17%;
}

/* Cards */
.card-custom {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-left: 15px;
  background-color: #22282a;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card-img-top-custom {
  border-radius: 50px;
}
.card-body-custom {
  margin-top: -17px;
}
.card-title-custom {
  margin-top: 1.5rem; /* Adjust margin as needed */
}
.card-footer-custom {
  color: #28a745;
}
.card-custom:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
/* Skills Section */
.skills {
  padding: 2rem var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .container-img {
  width: 35%;
}

.skills .container-img img {
  width: 90%;
}

.skills .container-skills {
  width: 55%;
}

.content-skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.skill {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50px;
  margin: 0 2rem 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill img {
  width: 70%;
}

/* Animation for skills section */
.skill {
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.skill:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
}

/* Social Media */
.social {
  margin-left: -15px;
  display: flex; /* Ensure the social media icons are displayed in a row */
}

.social a {
  margin: 0 10px; /* Adjust spacing between icons */
}

.social a i {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  font-size: 1.5rem; /* Adjust the initial size of the icons */
}

.social a i:hover {
  transform: scale(1.5); /* Adjust the scale to make icons bigger on hover */
  color: rgb(51, 175, 51);
  font-size: 2rem;
}



/* Typography */
h1 {
  font-size: 3rem;
  letter-spacing: 0.12rem;
  cursor: pointer;
  margin: 0.8rem 0;
}

h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: 0.12rem;
  color: rgb(193, 222, 149);
}

span {
  color: rgb(79, 217, 79);
}

/* Media Queries */

@media (max-width: 992px) {
  .navbar {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0;
  }

  #shape,
  #ProfilePicture {
    display: none;
  }

  .skills {
    padding: 2rem 5%;
    flex-direction: column;
    align-items: flex-start;
  }

  .skills .container-img {
    width: 100%;
    margin-bottom: 2rem;
  }

  .content-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensure equal spacing between columns */
  }

  .skill {
    flex: 0 0 calc(33.33% - 2rem); /* Adjust width to fit three columns with spacing */
    margin: 1rem; /* Adjust margin as needed */
    text-align: center;
  }

  #subscribe {
    margin-right: 0.5rem;
  }
}

@media (max-width: 768px) {


  .container-img {
    display: none;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 428px) and (max-width: 993px) {
  .container-img,
  #contact-img,
  #subscribe {
    display: none;
  }
  #sec {
    margin-top: 0;
  }
  .about-img {
    width: 50%;
    height: auto;
  }
  
  .content-skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  .skill {
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 0 2rem 2rem 0;
    display: flex;
    flex: 0 0 23%;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    text-align: center;
  }
  
  .card-body {
    padding-right: 15px;
    padding-left: 15px;
  }


  
  .hero-section h1 {
    font-size: 2.5rem;
  }
  
  .hero-section h4 {
    font-size: 1.5rem;
  }
  
  .hero-section .btn {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  
  .hero-section h1,
  .hero-section h4 {
    display: inline;
    margin: 0;
    line-height: 1.5;
  }

  .hero-section h1:after {
    content: "\A";
    white-space: pre;
  }
  .hero-section h1,
  .hero-section h4,
  .hero-section h3 {
    white-space: nowrap;
  }
  
  .social {
    display: flex;
  }
  
  .hero-section h4 {
    display: inline;
  }

  
  .courses-header span{
    margin-left: 80px;
  }
  
  .card {
    margin: 0 auto 2rem auto;
    width: 100%;
    max-width: 19rem;
    background-color: #22282a;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .card-contact {
    margin: 0 auto 2rem auto;
    width: 100%;
    max-width: 23rem;
    background-color: #22282a;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .card-body {
    padding-right: 15px;
    padding-left: 15px;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-check {
    margin-bottom: 1rem;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
  


  .social {
    display: flex;
  }
  
  .hero-section h4 {
    display: inline;
  }
  .courses-header span {
    margin-left: 80px;
  }
  #contact{
    margin-left: 80px;
  }
}


